<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangxinlong.shop.dao.SpuMapper">
	
	<!-- 查询商品信息 -->
	<select id="spuList" resultMap="spuListMap">
		select * from hg_spu
	</select>
	
	<resultMap type="Spu" id="spuListMap">
		<id column="id" property="id"/>
		<result column="goods_name" property="goodsName"/>
		<result column="is_marketable" property="isMarketable"/>
		<result column="brand_id" property="brandId"/>
		<result column="category_id" property="categoryId"/>
		<result column="small_pic" property="smallPic"/>
		
		<association property="brand" column="brand_id" select="com.wangxinlong.shop.dao.GoodsMapper.toUpdateBrand">
		
		</association>
		<association property="category" column="category_id" select="com.wangxinlong.shop.dao.CategoryMapper.findCategoryById">
		
		</association>
	</resultMap>
	
	
	<select id="getAllBrand" resultType="Brand">
		select id,name,first_char firstChar,deleted_flag deletedFlag from hg_brand where deleted_flag=0
	</select>
	
	
	<insert id="addBrand">
		insert into hg_spu(goods_name,is_marketable,brand_id,caption,category_id,small_pic)
		values(#{goodsName},#{isMarketable},#{brandId},#{caption},#{categoryId},#{smallPic})
	</insert>
	
	<select id="querySpuById" resultMap="spuListMap">
		select * from hg_spu where id=${value}
	</select>
	
	<select id="queryAllSpec" resultType="Spec">
		select id,spec_name specName from hg_spec
	</select>
	
	
	<select id="spuServiceById" resultType="SpecOption">
		select id,option_name optionName from hg_spec_option where spec_id=${value} 
	</select>
</mapper>